<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>{% block title %}{{ config.name }}{% endblock title %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock meta %}

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% block css %}{% endblock css %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block angular %}{% endblock angular %}

    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        {% block header %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="{{ config.logo }}" alt="{{ config.name }}" class="logo"> {{ config.name }}</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock header %}
    </header>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}{% endblock footer %}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>